<h1>商品一覧</h1>

<p>ここは商品一覧ページです。</p>

<%# もしコントローラーで @items = Item.all のようにデータを取得した場合、以下のように表示できます %>
<%# if @items.present? %>
<%#   <ul> %>
<%#     <% @items.each do |item| %>
<%#       <li><%= item.name %></li>
<%#     <% end %>
<%#   </ul> %>
<%# else %>
<%#   <p>商品がありません。</p> %>
<%# end %>